:root{
  --background: rgb(36, 133, 194);
  --text: lightblue;
}

header{
  background-color: var(--background);
  color: var(--text);
  padding-bottom: 25px;
}

nav{
  background-color: var(--background)
}

nav ul{
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 100%;
}

header li{
  list-style-type: none;
  display:flex inline;
  margin: 4px;
}

.banner{
  position: relative;
  text-align: center;
  color: var(--text);
}

.text{
  position: absolute;
  font-size: 40px;
  top: 8px;
  left: 16px
}

nav a {
  color: var(--text);
  font-weight: bold;
  text-decoration: none;
  }
  
nav a:hover {
  text-decoration: underline;
  }

body{
  background-color: var(--background);
}

section h2{
  text-align: center;
  flex-basis: 33%;
  margin: auto;
  width: 30%;
  border-radius: 15px;
  border: 2px black solid
}

h2{
  color: var(--text);
  background-color: var(--background)
}

.info-boxes{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text);
  margin-left: 20px;
}

.content{
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%
}

.profile{
  height: 50%;
  width: 50%;
}

.completed-image{
  height: 100%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.coming-soon{
  text-align: center;
  font-size: 50px;
  color: var(--text);
}

.image{
  height: 200px;
  width: 100%;
}

.contact{
  list-style-type: none;
  text-align: center;
  font-size: 20px;
}


@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .content{
    display: block;
  }
  header li{
    display: block;
  }
  .profile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
}